<div [ngClass]="{'mobile': !is_full}">
    <div class='footer'>
        <div class="inner-footer">
            <div class="text-styling quarter-width">
                <div class="footer-line left"></div>
                <div>Contact</div>
                <div class="underline">info@howsmyflattening.ca</div>
            </div>
            <div class="text-styling links quarter-width">
                <div class="footer-line middle"></div>
                <div class="mobile-flex">
                    <div class="half-mobile">
                        <div>
                            <span routerLink='/' class="hover-styling">Home</span>
                        </div>
                        <!-- <div>
                            <span routerLink='/dashboard' class="hover-styling">Dashboard</span>
                        </div>
                        <div>
                            <span routerLink='/analysis' class="hover-styling">Analysis</span>
                        </div>
                        <div>
                            <span routerLink='/data' class="hover-styling">Data</span>
                        </div> -->
                    </div>
                    <div class="half-mobile">
                        <div>
                            <span routerLink='/team' class="hover-styling">Team</span>
                        </div>
                        <div>
                            <span routerLink='/blog' class="hover-styling">Blog</span>
                        </div>
                        <!-- <div>
                            <span routerLink='/get_involved' class="hover-styling">Get Involved</span>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="text-styling half-width">
                <div class="footer-line right"></div>
                <div class="twitter-container">
                    <a class="twitter-timeline" data-height="250" [href]="embedLink">Tweets by
                        howsmyflattenON</a>
                </div>
            </div>
            <div class=""></div>
            <!-- <div class="footer-text">In partnership with</div>
    <div class="inner-footer">
        <div>
            <a target="_blank" href='https://trilliumhealthpartners.ca'>
                <img id='resource_thumbnail' src='assets/img/team_supporters/klick_health_logo.png'>
            </a>
        </div>
        <div>
            <a target="_blank" href='https://trilliumhealthpartners.ca'>
                <img id='resource_thumbnail' src='assets/img/team_supporters/uot_logo.png'>
            </a>
        </div>
        <div>
            <a target="_blank" href='https://trilliumhealthpartners.ca'>
                <img id='resource_thumbnail' src='assets/img/team_supporters/red_hat.png'>
            </a>
        </div>
    </div> -->
        </div>
        <div class="license-styling">
            <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License"
                    style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/88x31.png" /></a><br />This
            work
            is licensed
            under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons
                Attribution-NoDerivatives 4.0 International License</a>
        </div>
    </div>
</div>