<!-- <app-vaccine></app-vaccine> -->
<div [ngClass]="{'mobile-nav': !is_full, 'desktop-nav': is_full}">
    <mat-toolbar>
        <mat-toolbar-row>
            <div *ngIf="is_full" class="nav-logo">
                <img class='logo-styling-home' routerLink='/home' src='assets/img/scorecard/HMF_Logo_Website.svg'>
            </div>
            <div *ngIf="!is_full" class="nav-logo">
                <img class='logo-styling-home-mobile' routerLink='/home' src='assets/img/scorecard/HMF_Logo_Website.svg'>
            </div>
            <div *ngIf="shows_title" routerLink='/home'>
                <p class="nav-title" id='title-text'>How's My Flattening?</p>
            </div>
            <div id='primary-nav' *ngIf='is_full'>
                <button id='main-nav-button' [ngClass]="{'selected': page==='home'}" mat-button
                    routerLink='/'>Home</button>
                <!-- <button *ngIf='isChecked' id='main-nav-button' [ngClass]="{'selected': page==='dashboard'}" mat-button
                    routerLink='/dashboard'>Dashboard</button>
                <button *ngIf='isChecked' id='main-nav-button' [ngClass]="{'selected': page==='analysis'}" mat-button
                    routerLink='/analysis'>Analysis</button>
                <button *ngIf='isChecked' id='main-nav-button' [ngClass]="{'selected': page==='get_involved'}" mat-button
                    routerLink='/get_involved'>Get Involved</button> -->
                <button id='main-nav-button' [ngClass]="{'selected': page==='team'}" mat-button
                    routerLink='/team'>Team</button>
                <button id='main-nav-button' [ngClass]="{'selected': page==='blog'}" mat-button
                    routerLink='/blog'>Blog</button>
                <!-- <div class="mode">
                  <div class="top">Site Mode</div>
                  <div class="bottom">Personal <mat-slide-toggle (change)="onChange()" [(ngModel)]="isChecked"></mat-slide-toggle> Geek</div>
                </div> -->

            </div>
            <div id='primary-nav' *ngIf='!is_full'>
                <button mat-button [matMenuTriggerFor]="menu">
                    <mat-icon class="mobile-menu">menu</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button id='mobile-nav-button' [ngClass]="{'selected': page=='home'}" mat-menu-item
                        routerLink='/'>Home</button>
                    <!-- <button id='mobile-nav-button' [ngClass]="{'selected': page=='dashboard'}" mat-menu-item
                        routerLink='/dashboard'>Dashboard</button>
                    <button id='mobile-nav-button' [ngClass]="{'selected': page=='analysis'}" mat-menu-item
                        routerLink='/analysis'>Analysis</button> -->
                    <button id='mobile-nav-button' [ngClass]="{'selected': page=='team'}" mat-menu-item
                        routerLink='/team'>Team</button>
                    <button id='mobile-nav-button' [ngClass]="{'selected': page=='blog'}" mat-menu-item
                        routerLink='/blog'>Blog</button>
                    <!-- <button id='mobile-nav-button' [ngClass]="{'selected': page=='get_involved'}" mat-menu-item
                        routerLink='/get_involved'>Get Involved</button> -->
                </mat-menu>
            </div>
        </mat-toolbar-row>
    </mat-toolbar>
</div>
