<app-navbar [shows_title]='true' [page]='"home"'></app-navbar>
<div [ngClass]="{'mobile-browser': !is_full}">
    <div style='background-color: white;'>
        <div>
            <div *ngFor="let alert of alertObj">
              <app-alert [text]="alert['message']" [type]="alert['type']"></app-alert>
            </div>
            <app-scorecard></app-scorecard>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
